.actions {
    display: flex;
    padding: 0;
    margin: 20px;
    outline: 1px solid black;
    list-style: none;
}

.button {
    padding: 0;
    border: none;
    width: 100px;
    height: 100px;
    color: #2a2a2a;
    border-radius: 50%;
    background-color: teal;
}

.button:hover {
    color: #fff;
}

.button-icon {
    fill: currentColor;
}

.button-fb{
    fill: #f9f9f9;
}

.button-fb:hover{
    fill: rgb(128, 242, 246);
    border-radius: 50%;
}

.fb-icon{
    fill: #485a96;
}

.fb-icon:hover{
    fill: white;
    stroke: rgb(8, 213, 236);
}